<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.LotMapper">
<select id="GetAll" resultType="com.spring.domain.LotVO">
		with a as (
	        select l.no, l.code, l.item_no, sum(amount) cnt
	        from lot l, warehouse_detail wd
	        where l.code = wd.lot_code
	        group by l.no, l.code, l.item_no)
        select a.code code, i.code item_code, i.name item_name, a.cnt cnt
        from a, item i
        where a.item_no = i.no
		<if test="whatColumn=='code'">and a.code like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='name'">and i.name like '%' ||  #{keyword} || '%'</if>
		ORDER BY a.no desc OFFSET #{beginRow} ROWS FETCH NEXT #{pageSize} ROWS ONLY
</select>

<select id="getTotalCount" resultType="int">
		with a as (
	        select l.no, l.code, l.item_no, sum(amount) cnt
	        from lot l, warehouse_detail wd
	        where l.code = wd.lot_code
	        group by l.no, l.code, l.item_no)
        select count(*)
        from a, item i
        where a.item_no = i.no
		<if test="whatColumn=='code'">and a.code like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='name'">and i.name like '%' ||  #{keyword} || '%'</if>
</select>

<delete id="deleteOne">
	delete lot where no = #{lot_no}
</delete>

<select id="getOne" resultType="com.spring.domain.LotVO">
	select l.code code,i.name item_name,i.image,c.name client_name ,i.in_price,i.out_price,i.image,c.tel client_tel 
	from lot l ,item i,client c 
	where i.no=l.item_no and c.no=i.client_no and l.code = #{value} 
</select>

</mapper>