<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.MemberMapper">

	<insert id="insert">
		insert into member (no, id, pw, name, dep_no, rank_no, email, image, reg_date)
		values (seq_member.nextval, #{id}, #{pw}, #{name}, #{dep_no}, #{rank_no}, #{email}, #{fileName}, sysdate)
	</insert>
	
	<select id="list" resultType="com.spring.domain.MemberVO">
		select m.no, m.id, m.pw, m.name, d.name as dep_name, r.name as rank_name, m.email, m.image as fileName, to_char(to_date(reg_date), 'yyyy.MM.dd') as reg_date
		from member m
		inner join department d
		on m.dep_no = d.no
		inner join rank r
		on m.rank_no = r.no
		<if test="whatColumn=='name'">where m.name like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='id'">where m.id like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='email'">where m.email like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='dep'">where d.name like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='rank'">where r.name like '%' ||  #{keyword} || '%'</if>
		ORDER BY m.no desc OFFSET #{beginRow} ROWS FETCH NEXT #{pageSize} ROWS ONLY
	</select>

	<select id="get" resultType="com.spring.domain.MemberVO">
		select no, id, pw, name, dep_no, rank_no, email, image as fileName, to_char(to_date(reg_date), 'yyyy.MM.dd') as reg_date 
		from member 
		where no = #{no}
	</select>
	
	<update id="update">
		update member set id = #{id}, pw = #{pw}, name = #{name}, email = #{email}, dep_no = #{dep_no}, rank_no = #{rank_no}
		<if test="fileName != null">
			, image = #{fileName}
		</if>
		where no = #{no}
	</update>
	
	<delete id="delete">
		delete from member where no = #{no}
	</delete>
	
	<select id="idcheck" resultType="int">
		select count(*) from member where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<select id="check_user" resultType="int">
		select count(*) from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*)
		from member m
		inner join department d
		on m.dep_no = d.no
		inner join rank r
		on m.rank_no = r.no
		<if test="whatColumn=='name'">where m.name like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='id'">where m.id like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='email'">where m.email like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='dep'">where d.name like '%' ||  #{keyword} || '%'</if>
		<if test="whatColumn=='rank'">where r.name like '%' ||  #{keyword} || '%'</if>
	</select>
	
	<!-- 이하 ajax API 관련 SQL -->
	<select id="getListWithPaging" resultType="com.spring.domain.MemberVO">
		<![CDATA[
		select * 
		from(
		    select rownum rn, no, id, pw, name, dep_name, rank_name, email, image, reg_date
		    from (select m.no, m.id, m.pw, m.name, m.dep dep_name, r.name rank_name, m.email, m.image, m.reg_date
		          from(
		                select m.no, m.id, m.pw, m.name, d.name dep, m.rank_no, m.email, m.image, m.reg_date
		                from member m inner join department d
		                on m.dep_no = d.no
		          ) m inner join rank r
		    on m.rank_no = r.no)
		where rownum <= #{cri.pageNum} * #{cri.amount}
		]]>     
		
		    <if test="cri.whatColumn=='dep' and cri.keyword != null"> and dep_name like '%' ||  #{cri.keyword} || '%' </if>
		    <if test="cri.whatColumn=='rank' and cri.keyword != null"> and rank_name like '%' ||  #{cri.keyword} || '%' </if>
		    <if test="cri.whatColumn=='name' and cri.keyword != null"> and name like '%' ||  #{cri.keyword} || '%' </if>
		    
		<![CDATA[   
		    order by no
		)where rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getCountAll" resultType="int">
		<![CDATA[
		select count(*)
		from(
		    select rownum rn, no, id, pw, name, dep_name, rank_name, email, image, reg_date
		    from (select m.no, m.id, m.pw, m.name, m.dep dep_name, r.name rank_name, m.email, m.image, m.reg_date
		          from(
		                select m.no, m.id, m.pw, m.name, d.name dep, m.rank_no, m.email, m.image, m.reg_date
		                from member m inner join department d
		                on m.dep_no = d.no
		          ) m inner join rank r
		    on m.rank_no = r.no)
		) where no > 0
		]]> 
		
		<if test="cri.whatColumn=='dep' and cri.keyword != null"> and dep_name like '%' ||  #{cri.keyword} || '%' </if>
		<if test="cri.whatColumn=='rank' and cri.keyword != null"> and rank_name like '%' ||  #{cri.keyword} || '%' </if>	
		<if test="cri.whatColumn=='name' and cri.keyword != null"> and name like '%' ||  #{cri.keyword} || '%' </if>
	</select>
	
	
	
	<select id="example" parameterType="com.spring.domain.MemberVO" statementType="CALLABLE">
		{call song (#{no, mode=IN, jdbcType=INTEGER}, #{no, mode=OUT, jdbcType=INTEGER})}
	</select>
</mapper>