<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.RackMapper">
<select id="selectAll" resultType="com.spring.domain.RackVO">
	select * from rack
	order by no
</select>
<select id="getListByAreaNo" resultType="com.spring.domain.RackVO">
	select * from rack
	where area_no = #{no}
	order by no
</select>
</mapper>