<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.SellDetailMapper">

	<insert id="insert">
		insert into sell_detail values(sell_detail_seq.nextval,#{itemNo},#{itemAmount},#{itemPrice},#{lot_code},sell_seq.currval,#{order_sheet_no})
	</insert>

	<select id="read" resultType="com.spring.domain.SellDetailVO">
		select * from sell_detail order by no desc
	</select>
	
	<select id="selectAll" resultType="com.spring.domain.SellDetailVO">
       select item_name item_name, sum((out_price-in_price) * amount) profit,sum(amount) amount, avg(in_price) in_price, avg(out_price) out_price
       from (select sd.no, i.name as item_name, sd.amount, i.in_price as in_price, i.out_price as out_price 
       from sell_detail sd, item i where sd.item_no=i.no)
  		<if test="whatColumn == ''">
  		where item_name like '%' || #{keyword} || '%'
  		</if> 
       group by item_name
	</select>
	
	<select id="getTotalCount" resultType="int">
	   select count(*) from(select item_name item_name, sum((out_price-in_price) * amount) profit,sum(amount) amount, avg(in_price) in_price, avg(out_price) out_price
       from (select sd.no, i.name as item_name, sd.amount, i.in_price as in_price, i.out_price as out_price 
       from sell_detail sd, item i where sd.item_no=i.no)group by item_name)
  		<if test="whatColumn == ''">
  		where item_name like '%' || #{keyword} || '%'
  		</if> 
	</select>
	
	<select id="selectSubListByOrderSheetNo" resultType="com.spring.domain.SellDetailVO">
		select sn.no, sn.sell_no, sn.amount, sn.sell_price, sn.lot_code, sn.item_no,
		it.code code, it.name name
		from(select *
		from sell_detail
		where order_sheet_no = #{orderSheetNo}) sn inner join item it
		on sn.item_no = it.no
	</select>
</mapper>