<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.WareHouseDetailMapper">
<select id="selectStockByWareNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no
    and wd.ware_no = #{ware_no}
</select>
<select id="selectStockByAreaNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no
    and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
</select>
<select id="selectStockByRackNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no
	and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
    and wd.rack_no = #{rack_no}
</select>
<select id="selectStockByCellNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no
	and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
    and wd.rack_no = #{rack_no}
    and wd.cell_no = #{cell_no}
</select>
</mapper>