<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.WareHouseMapper">
<select id="selectAll" resultType="com.spring.domain.WareHouseVO">
	select * from warehouse
	order by no
</select>
<delete id="deleteWareHouseByNo">
	delete warehouse
	where no = #{ware_no}
</delete>
<insert id="insert">
	insert into warehouse values(seq_warehouse.nextval,#{warehousecode},#{warehousename})
</insert>
<select id="selectOneWareHouseByNo" resultType="com.spring.domain.WareHouseAllAreaVO">
	select name warehousename, code warehousecode
	from warehouse
	where no=#{no}
</select>
<update id="updateWareHouseByNo">
	update warehouse set code = #{warehousecode}, name = #{warehousename}
	where no = #{sendno}
</update>
<select id="checkCode" resultType="int">
		select count(*) from warehouse where code=#{code}
	</select>
</mapper>