<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.mapper.WareHouseDetailMapper">
<select id="selectStockByWareNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no(+)
    and wd.ware_no = #{ware_no}
</select>
<select id="selectStockByAreaNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no(+)
    and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
</select>
<select id="selectStockByRackNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no(+)
	and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
    and wd.rack_no = #{rack_no}
</select>
<select id="selectStockByCellNo" resultType="com.spring.domain.WareHouseDetailVO" parameterType="com.spring.domain.WareHouseDetailVO">
select
    wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
from
    warehouse_detail wd, item i
where
    wd.item_no = i.no(+)
	and wd.ware_no = #{ware_no}
    and wd.area_no = #{area_no}
    and wd.rack_no = #{rack_no}
    and wd.cell_no = #{cell_no}
</select>


<!-- 이하 ajax API 관련 SQL -->
	<select id="getListWithPaging" resultType="com.spring.domain.WareHouseDetailVO">
		<![CDATA[
		select
		    no, lot_code, amount, ordered_amount, item_no,
		    ware_no, area_no, rack_no, cell_no,
		    i_no, code, name, in_price, out_price, image
		from(
		    select
			    rownum rn, wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
			    wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
			    i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
		    from
		    	warehouse_detail wd, item i
		    where
		    	wd.item_no = i.no(+)
                and wd.ware_no = #{ware_no}
                and rownum <= #{pageNum} * #{amount}
		]]>    
		
<!-- 		    <if test="whatColumn=='code' and keyword != null"> and code like '%' ||  #{keyword} || '%' </if> -->
<!-- 		    <if test="whatColumn=='name' and keyword != null"> and name like '%' ||  #{keyword} || '%' </if> -->
<!-- 		    <if test="whatColumn=='owner' and keyword != null"> and owner like '%' ||  #{keyword} || '%' </if> -->
		    
		<![CDATA[    
			order by no
			)
		where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getCountAll" resultType="int">
		select
		    count(*)
		from
		    (select
		        wd.no, wd.lot_code, wd.amount, wd.ordered_amount, wd.item_no,
		        wd.ware_no, wd.area_no, wd.rack_no, wd.cell_no,
		        i.no i_no, i.code, i.name, i.in_price, i.out_price, i.image
		    from
		        warehouse_detail wd, item i
		    where
		        wd.item_no = i.no(+)
		        and wd.ware_no = #{ware_no}
		        <if test="area_no != 0">and wd.area_no = #{area_no}</if>
		        <if test="rack_no != 0">and wd.rack_no = #{rack_no}</if>
		        <if test="cell_no != 0">and wd.cell_no = #{cell_no}</if>
		    )
		where no>0
		
<!-- 		<if test="whatColumn=='code' and keyword != null"> and code like '%' ||  #{keyword} || '%' </if> -->
<!-- 		<if test="whatColumn=='name' and keyword != null"> and name like '%' ||  #{keyword} || '%' </if>	 -->
<!-- 		<if test="whatColumn=='owner' and keyword != null"> and owner like '%' ||  #{keyword} || '%' </if> -->
	</select>
</mapper>